@import '../../../styles/mixins.scss';



.section {
    padding-inline: 20px;
    text-align: center;
    @include adaptive-px(padding-block, 100, 50);

    .heading {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .subHeading {
      font-size: 18px;
      color: #666;
      margin-bottom: 40px;
    }

    .itemsContainer {
      display: flex;
      justify-content: space-between;
      gap: 10px;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%;

    .iconContainer {
      display: flex;
      justify-content: center;

      svg {
        width: 64px;
        height: 64px;
      }
    }

    .title {
      margin-top: 30px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      width: 100%;
      text-align: center;
    }

    .description {
      margin-top: 45px;
      font-size: 16px;
      text-align: left;
      width: 100%;
      color: #666;
    }
  }