@import '../../styles/mixins.scss';

.titleWrapper {
    // margin-bottom: 36px;
    text-align: center;

    &.center {
        align-self: center
    }

    >h1 {
        @include adaptive-px(font-size, 44, 22);
        font-weight: 900;
        line-height: 1.2;
        color: var(--black);
    }

    >h2 {
        @include adaptive-px(font-size, 42, 20);
        font-weight: 900;
        line-height: 1.2;
        color: var(--black);
    }

    >h3 {
        @include adaptive-px(font-size, 30, 18);
        font-weight: 900;
        line-height: 1.2x;
        color: var(--black);
    }

    >h4 {
        @include adaptive-px(font-size, 20, 15);
        font-weight: 900;
        line-height: 1.2;
        color: var(--black);
    }
}