:root {
  --black: #000;
  --white: #fff;
  --mc: #081e59;

  --bg: #ffde41;
  --green: #20a157;
  --btn: #081e59;
  --btn-hover: #15723a;
  --ts: all 0.3s ease-in-out;

  --white-hover: #cfcfcf;
  --accent: #081e59;
  --secondary: rgb(25, 195, 230);
  --gray: #222;
  --link: #000;
  --link-contact: rgb(25, 111, 230);
  --link-hover: #d1b26c;
  --bg-footer: #0f1927;
  --shadow: 0px 1px 2px 0px #d5d5d5;

  --primary-color: #04ff04;
  --overlay-color: rgba(0, 0, 0, 0.7);
}
