@import '../../../styles/mixins.scss';


.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 50px;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 24px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
            // grid-template-columns: 1fr;
        }
    }

    &__left {
        padding-block: 60px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        flex: 1;
        height: 100%;
        justify-content: space-between;


        @media (max-width: 1200px) {
            padding: 0;
            gap: 0;
        }
    }

    &__right {
        border-radius: 12px;
        display: flex;
        padding: 40px 30px;
        flex-direction: column;
        gap: 72px;
        justify-self: end;

    }

    &__logo {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-right: 64px;
        align-self: flex-end;
    }

    &__info {
        font-size: 20px;
        color: var(--white);
    }

    &__descr {
        display: flex;
        flex-direction: column;
        gap: 12px;
        max-width: 312px;
    }

    &__text {
        font-size: 16px;
        color: var(--white);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 36px;
        align-items: flex-start;
        margin-top: auto;

        @media (max-width: 768px) {
            gap: 24px;
            margin-bottom: 36px;
        }

    }

    &__item {
        display: grid;
        grid-template-columns: 48px 1fr;
        align-items: center;
        gap: 16px;

    }

    &__itemText {

        font-weight: 500;
        font-size: 22px;
        line-height: 1;
        color: var(--black);
    }

    &__img {
        @include adaptive-px(width, 1000, 420, 1920, 768);
        @include adaptive-px(height, 1000, 250, 1920, 768);
        height: auto;

        @media (max-width: 768px) {
            padding-top: 24px;
            width: 100%;
        }
    }

    &__titleMobile {
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }
    &__titleDesktop {

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__btn {
        margin-top: auto;
        background-color: red;
        // border: 2px solid red;
        padding: 12px 36px;
        color: #fff;

        border-radius: 10px;
        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: #921AAF;
            // border-color: #921AAF;
        }
    }
}