@import '../../styles/mixins.scss';

.footer {
    margin-top: 60px;
    padding: 60px 0;
    line-height: 150%;
    color: var(--black);
    background-color: var(--bg);
}

.footer {
    &__wrapper {
        display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
}


@media (max-width: 640px) {
    .footer {
        padding: 16px 0;

        &__wrapper {
            display: flex;
           flex-direction: column;
           align-items: center  ;
        }

    }
}

// @media (max-width: 460px) {
//     .footer {
//         padding: 20px;
//     }
// }

@media (max-width: 403px) {
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }

    }
}



.ContactsPage {
    flex: 1;
    margin-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    @include adaptive-px(gap, 40, 15);
    width: 100%;
    justify-content: center;
    padding: 25px;
    border: 3px dotted var(--green);
    border-radius: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            @include adaptive-px(font-size, 34, 18);
        }

        p {
            @include adaptive-px(font-size, 22, 14);
        }

        h4 {

            @include adaptive-px(font-size, 24, 14);
        }

    }

    &__phone,
    &__mail {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}