@import '../../../styles/mixins.scss';

.expert {
    @include adaptive-px(padding-block, 100, 36);
}
.expertWrapper {
    max-width: 800px;
    margin: 0 auto;
    @include adaptive-px(margin-top, 100, 36);

}
.expertItem {
    display: grid;
    grid-template-columns: 65px 1fr;
    gap: 30px;
    &:not(:last-child) {
        margin-bottom: 36px;
    }
}
.expertInner {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.expertTitle {
    @include adaptive-px(font-size, 24, 20);
}
.expertList {
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.expertListItem {
    @include adaptive-px(font-size, 22, 16);
}
