@import '../../styles/mixins.scss';

.HomePage {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}


.HomePage__formWrapper {
    max-width: 640px;
    border: 1px solid green;
    border-radius: 50px;
    padding-block: 24px;
    align-self: center;

    @media (max-width: 460px) {
        padding-block: 0;
        padding-inline: 12px;
        padding-top: 36px;
        border-radius: 0;
        border-width: 10px 0 0 0;
    }
}



.background {
    // background-color: #E9EFFE;
    // background: #333 url('../../assets/icons/homePage/hero/bg-img.webp') no-repeat center center / cover;
    min-height: 100vh;
}

.backgroundAbout {
    background-color: var(--white);
}

.background__program {
    background-color: var(--bg);
}


.ContactsPage {
    margin-top: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    @include adaptive-px(gap, 40, 15);
    width: 100%;
    justify-content: center;
    padding: 25px;
    border: 3px dotted var(--green);
    border-radius: 20px;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 24px;

        h3 {
            @include adaptive-px(font-size, 34, 18);
        }

        p {
            @include adaptive-px(font-size, 22, 14);
        }

        h4 {

            @include adaptive-px(font-size, 24, 14);
        }

    }

    &__phone,
    &__mail {
        display: flex;
        align-items: center;
        gap: 10px;
    }

}